body{
    margin: 0;
}

.imgstart{
    width:100%;
    height:100vh;
    background-size:cover;
    background-position: center;
    text-align:center;
    vertical-align:middle;
    line-height:100vh;
    display:flex;
}

h1{
    margin:0;
}

.containerstart{
    line-height: initial;
    margin:auto;
}

input.jsx-3086735343{
    width: 210px;
    height: 22px;
}
